<div class="comments col-xs-12" data-ng-controller="CommentsController">
	<h4>Comments</h4>
	<ul class="well">
		<li data-ng-show="!book.comments.length">No Comments</li>
	  <li data-ng-repeat="comment in book.comments">
	    <blockquote>
	      {{comment.body}}
	      <cite class="clearfix">—{{comment.author}}</cite>
	    </blockquote>
	  </li>
	</ul> 
	<form name="commentForm" data-ng-submit="commentForm.$valid && addComment()" novalidate>
	  <!--  Live Preview -->
	  <h4>Submit a Comment</h4>
	  <blockquote >
	    {{comment.body}}
	    <cite class="clearfix">—  {{comment.author}}</cite>
	  </blockquote>
	  <fieldset class="form-group">
	    <textarea data-ng-model="comment.body" class="form-control" placeholder="Write a short comment..." title="Comment" rows="5" required></textarea>
	  </fieldset>
	  <fieldset class="form-group">
	    <input data-ng-model="comment.author" type="text" class="form-control" title="Name">
	  </fieldset>
	  <fieldset class="form-group">
	    <input type="submit" class="btn btn-primary" value="Submit Comment">
	  </fieldset>
	</form>
</div>