<section class="row">
  <h3 class="col-md-12 text-center">Restore your password</h3>
  <p class="small text-center">Enter your account email.</p>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <ba-alert *ngIf="error$ | async"
              [text]="error$ | async"
              [type]="'danger'"></ba-alert>
    <ba-forgot-password-form [isSubmitting]="submitting$ | async"
                             (formSubmitted)="onFormSubmit($event)"></ba-forgot-password-form>
  </div>
</section>
