<section data-ng-controller="SidebarController">
	<div class="add" ng-show="authentication.user.roles.indexOf('admin') !== -1">
		<a data-ui-sref="add" class="btn btn-primary" role="button"><i class="fa fa-plus"></i> Add a Book</a>
	</div>
	<nav>
		<a href="/#{{authentication.user.reading}}" data-ng-class="{active: isActive('/book/read')}"><i class="fa fa-book"></i> Now reading</a>
		<a data-ui-sref="browse" data-ng-class="{active: isActive('/book/browse')}"><i class="fa fa-globe"></i> Browse</a>
		<a data-ui-sref="buy" data-ng-class="{active: isActive('/book/buy')}"><i class="fa fa-shopping-cart"></i> Buy books</a>
		<a data-ui-sref="favourite" data-ng-class="{active: isActive('/book/favourite')}"><i class="fa fa-star"></i> Favourite books</a>
		<a data-ui-sref="wishlist" data-ng-class="{active: isActive('/book/wishlist')}"><i class="fa fa-th-list"></i> Wishlist</a>
		<a data-ui-sref="history" data-ng-class="{active: isActive('/user/history')}"><i class="fa fa-clock-o"></i> History</a>
	</nav>
	<nav class="categories">
		<a data-ui-sref="mustread" data-ng-class="{active: isActive('/book/mustread')}">Must read titles</a>
		<a data-ui-sref="best" data-ng-class="{active: isActive('/book/best')}">List of the Best</a>
	</nav>
	<div class="added-list">
		<div data-ng-repeat="item in history">
			<i class="fa fa-clock-o"></i> {{item.action}} <span class="time" data-time="{{item.date}}"></span>
		</div>
	</div>
</section>
